<ion-content padding id="page12" style="padding-left: 5%; padding-right: 5%; background-color:#123756; background: url(assets/imgs/name_bg02.png) no-repeat center; background-size: cover;"
  scroll="false">
  <div ion-fixed class="row heading-cons">
    <h2 id="applicantsNameSurname-heading1" class="heading-alignment heading-cons-text">
      Cheese!
    </h2>
  </div>
  <div class="spacer" style="height: 30%;"></div>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block margin-form-cons">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->

  <div class="div-photo" *ngFor="let photo of photos; let id = last">
    <!--<ion-icon name="ios-image-outline" style="color: white;" class="centerB"></ion-icon>
    <div class="div-photo" *ngFor="let photo of photos; let id = last"> -->
    <img [src]="photo" *ngIf="photos" />
  </div>


  <div class="margin-form-cons">
    <button id="applicantsPhoto-button1" ion-button color="positive" block icon-right (click)="takePhoto()">
      Foto aufnehmen
      <ion-icon name="ios-camera-outline"></ion-icon>
    </button>

    <button id="applicantsPhoto-button2" ion-button color="positive" block icon-right (click)="goToInputReview()">
      Überprüfe deine Angaben
      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
    </button>
  </div>
</ion-content>